<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title">Usuários</h4>
          </div>
          <div class="col-md-6 text-right">
            <a [routerLink]="['/usuarios/cadastrar/']" class="btn btn-primary btn-round">
              <i class="nc-icon nc-simple-add"></i> Cadastrar
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
              </th>
              <th>
                Nome
              </th>
              <th>
                E-mail
              </th>
              <th>
                Perfil
              </th>
              <th>
                Status
              </th>
              <th>
                Cadastro
              </th>
              <th>
                Ações
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>
                  <img class="avatar border-gray" src="{{usuario?.imagem}}">
                </td>
                <td>
                  {{usuario?.name}}
                </td>
                <td>
                  {{usuario?.email}}
                </td>
                <td>
                  {{usuario?.perfil['descricao']}}
                </td>
                <td>
                  <span *ngIf="usuario?.status == true" class="text-success" style="font-weight: 600;">
                    Ativo
                  </span>
                  <span *ngIf="usuario?.status == false" class="text-danger" style="font-weight: 600">
                    Inativo
                  </span>
                </td>
                <td>
                  {{usuario?.created_at | date:'dd/MM/y'}}
                </td>
                <td>
                  <div class="btn-group" role="group">
                    <a [routerLink]="['/usuarios/editar/', usuario?.id]" type="button" tooltip="Visualizar/Editar Usuário" class="btn btn-sm btn-primary">
                      <i class="fa fa-eye" style="font-size: 18px;"></i>
                    </a>
                    <a (click)="openModal(template, usuario)" type="button" 
                        tooltip="Ativar ou inativar usuário" 
                        class="btn btn-sm"
                        [ngClass]="{'btn-danger': usuario?.status == false, 'btn-success': usuario?.status == true}">
                      <i class="fa fa-refresh" style="font-size: 18px;"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h6 class="modal-title pull-left">Alterar status</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Deseja <b *ngIf="statusUsuarioModal == false">ativar</b> <b *ngIf="statusUsuarioModal == true">inativar</b> este usuário?
  
    <div class="text-right">
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="alterarStatus(idUsuario)">Sim</button>
    </div>
  </div>
</ng-template>