<div class="container form-login">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <img src="assets/img/logo-login.png" alt="">
        </div>
        <div class="card-body">
          <h2 class="text-center">
            <b>Lord</b> Web
            <br/>
            <small>Área Restrita</small>
          </h2>
          <br/>

          <form [formGroup]="formulario" novalidate>
            <div class="form-group has-feedback" [ngClass]="{'has-success': formulario.controls['email'].valid, 'has-error': formulario.controls['email'].invalid && (formulario.controls['email'].touched || formulario.controls['email'].dirty)}">
              <input type="email" formControlName="email" class="form-control" id="InputEmail" placeholder="E-mail">
              <span *ngIf="formulario.controls['email'].valid" class="fa fa-check form-control-feedback" aria-hidden="true"></span>
              <span *ngIf="formulario.controls['email'].invalid && (formulario.controls['email'].touched || formulario.controls['email'].dirty)" class="text-danger">
                E-mail inválido!
              </span>
            </div>

            <div class="form-group" [ngClass]="{'has-success': formulario.controls['password'].valid, 'has-error': formulario.controls['password'].invalid && (formulario.controls['password'].touched || formulario.controls['password'].dirty)}">
              <input type="password" formControlName="password" class="form-control" id="InputPassword" placeholder="Senha">
              <span class="text-danger" *ngIf="formulario.controls['password'].invalid && (formulario.controls['password'].touched || formulario.controls['password'].dirty)">Campo obrigatório!</span>
            </div>
            <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="formulario.invalid" (click)="logar()">Entrar</button>
          </form>

        </div>
      </div>

    </div>
  </div>

  <div class="text-center">
    <p>Desenvolvido por O. M. M.</p>
  </div>
</div>
