<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img *ngIf="user?.imagem !== 'sem_imagem'" src="{{user?.imagem}}" style="filter:blur(15px);">
        <img *ngIf="user?.imagem === 'sem_imagem'" src="assets/img/default-avatar.png" style="filter:blur(15px);">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img *ngIf="user?.imagem !== 'sem_imagem'" src="{{user?.imagem}}" class="avatar border-gray">
            <img *ngIf="user?.imagem === 'sem_imagem'" src="assets/img/default-avatar.png" class="avatar border-gray">
            <h5 class="title">{{user?.name}}</h5>
          </a>
          <p class="description">
            {{user?.perfil['descricao']}}
          </p>
        </div>
        <p class="description text-center">
          {{user?.email}} <br>
          Cadastrado em {{user?.created_at | date:'dd/MM/y'}} <br>
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container text-center">
          <span [hidden]="user?.status == false" style="color:green;"><b>Usuário Ativo</b></span>
          <span [hidden]="user?.status == true" style="color:red;"><b>Usuário Inativo</b></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Editar Perfil</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="formularioUsuario" (ngSubmit)="editarUsuario()" *ngIf="user">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nome</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Digite o nome do usuário">
                <span *ngIf="formularioUsuario.controls['name'].invalid && (formularioUsuario.controls['name'].touched)"
                  class="text-danger">
                  Campo obrigatório!
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>E-mail</label>
                <input formControlName="email" type="email" class="form-control"
                  placeholder="Digite o e-mail do usuário">
                <span
                  *ngIf="formularioUsuario.controls['email'].invalid && (formularioUsuario.controls['email'].touched)"
                  class="text-danger">
                  Campo obrigatório!
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" *ngIf="user?.perfil['descricao'] !== 'USUARIO' && user?.perfil['descricao'] !== 'COORDENADOR'">
              <div class="form-group">
                <label>Perfil</label>
                <select formControlName="perfil_id" class="form-control">
                  <option value="" disabled>Selecione</option>
                  <option *ngFor="let perfil of perfis" [value]="perfil?.id">{{perfil.descricao}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Status</label>
                <select formControlName="status" class="form-control">
                  <option value="" disabled>Selecione</option>
                  <option value="true">Ativo</option>
                  <option value="false">Inativo</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Imagem do Perfil</label>
                <br>
                <div class="fileUpload btn btn-primary">
                  <span>Selecionar Imagem</span>
                  <input type="file" class="upload" id="imagem" name="imagem" (change)="carregarImagem($event)">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nova Senha</label>
                <input formControlName="password" type="password" class="form-control" placeholder="******">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Confirmar Nova Senha</label>
                <input formControlName="confimarSenha" type="password" class="form-control" placeholder="******">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button [disabled]="formularioUsuario.invalid" type="submit"
                class="btn btn-primary btn-round">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>