<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 div-pesquisar">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" aria-label="Default"
                aria-describedby="inputGroup-sizing-default"
                placeholder="Digite para pesquisar"
                [(ngModel)]="filtroLista">
            </div>
          </div>
          <div class="col-7 text-right" *ngIf="usuarioLogado.perfil['descricao'] === 'ADMINISTRADOR' || usuarioLogado.perfil['descricao'] === 'COORDENADOR'">
            <a [routerLink]="['/usuarios/cadastrar']" class="btn btn-primary btn-round">
              <i class="nc-icon nc-simple-add"></i> Cadastrar
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th style="padding: 1.75rem !important"></th>
              <th>
                Nome
              </th>
              <th>
                E-mail
              </th>
              <th>
                Perfil
              </th>
              <th>
                Status
              </th>
              <th>
                Cadastro
              </th>
              <th>
                Ações
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuariosFiltrados">
                <td>
                  <img *ngIf="usuario?.imagem !== 'sem_imagem'" class="avatar border-gray" src="{{usuario?.imagem}}" alt="">
                  <img *ngIf="usuario?.imagem === 'sem_imagem'" class="avatar border-gray" src="assets/img/default-avatar.png" alt="">
                </td>
                <td>
                  {{usuario?.name}}
                </td>
                <td>
                  {{usuario?.email}}
                </td>
                <td>
                  {{usuario?.perfil['descricao']}}
                </td>
                <td>
                  <span *ngIf="usuario?.status == true" class="text-success" style="font-weight: 600;">
                    Ativo
                  </span>
                  <span *ngIf="usuario?.status == false" class="text-danger" style="font-weight: 600">
                    Inativo
                  </span>
                </td>
                <td>
                  {{usuario?.created_at | date:'dd/MM/y'}}
                </td>
                <td *ngIf="usuarioLogado.perfil['descricao'] === 'ADMINISTRADOR' || usuarioLogado.perfil['descricao'] === 'COORDENADOR'">
                  <div class="btn-group" role="group">
                    <a [routerLink]="['/usuarios/editar/', usuario?.id]" type="button"
                        tooltip="Visualizar/Editar Usuário"
                        class="btn btn-sm btn-outline-primary">
                      <i class="fa fa-eye" style="font-size: 18px;"></i>
                    </a>
                    <button (click)="openModal(template, usuario)" type="button"
                        tooltip="Ativar ou inativar usuário"
                        class="btn btn-sm"
                        [ngClass]="{'btn-danger': usuario?.status == false, 'btn-success': usuario?.status == true}">
                      <i class="fa fa-refresh" style="font-size: 18px;"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h6 class="modal-title pull-left">Alterar status</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Deseja <b *ngIf="statusUsuarioModal == false">ativar</b> <b *ngIf="statusUsuarioModal == true">inativar</b> este usuário?

    <div class="text-right">
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="alterarStatus(idUsuario)">Sim</button>
    </div>
  </div>
</ng-template>
