<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img *ngIf="usuario?.imagem !== 'sem_imagem'" src="{{usuario?.imagem}}" style="filter:blur(15px);">
        <img *ngIf="usuario?.imagem === 'sem_imagem'" src="assets/img/default-avatar.png" style="filter:blur(15px);">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img *ngIf="usuario?.imagem !== 'sem_imagem'" src="{{usuario?.imagem}}" class="avatar border-gray">
            <img *ngIf="usuario?.imagem === 'sem_imagem'" src="assets/img/default-avatar.png" class="avatar border-gray">
            <h5 class="title">{{usuario?.name}}</h5>
          </a>
          <p class="description">
            {{usuario?.perfil['descricao']}}
          </p>
        </div>
        <p class="description text-center">
          {{usuario?.email}} <br>
          Cadastrado em {{usuario?.created_at | date:'dd/MM/y'}} <br>
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container text-center">
          <span [hidden]="usuario?.status == false" style="color:green;"><b>Usuário Ativo</b></span>
          <span [hidden]="usuario?.status == true" style="color:red;"><b>Usuário Inativo</b></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card card-usuario">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h5 class="card-title">Editar Usuário</h5>
          </div>
          <div class="col text-right">
            <a [routerLink]="['/usuarios/listar']" class="btn btn-primary btn-round">
              Voltar
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="formularioUsuario" (ngSubmit)="editarUsuario()" *ngIf="usuario">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nome</label>
                <input formControlName="name" type="text" class="form-control" 
                  [ngClass]="{'is-invalid': formularioUsuario.get('name').errors && formularioUsuario.get('name').touched}" 
                  placeholder="Digite o nome do usuário">
                <div *ngIf="formularioUsuario.get('name').hasError('required') && formularioUsuario.get('name').touched" class="invalid-feedback">
                  Campo obrigatório!
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>E-mail</label>
                <input formControlName="email" type="email" class="form-control"
                  [ngClass]="{'is-invalid': formularioUsuario.get('email').errors && formularioUsuario.get('email').touched}"
                  placeholder="Digite o e-mail do usuário">
                <div *ngIf="formularioUsuario.get('email').hasError('required') && formularioUsuario.get('email').touched" class="invalid-feedback">
                  Campo obrigatório!
                </div>
                <div *ngIf="formularioUsuario.get('email').hasError('email') && formularioUsuario.get('email').touched" class="invalid-feedback">
                  Email inválido!
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" *ngIf="user?.perfil['descricao'] !== 'USUARIO' && user?.perfil['descricao'] !== 'COORDENADOR'">
              <div class="form-group">
                <label>Perfil</label>
                <select formControlName="perfil_id" class="form-control">
                  <option value="" disabled>Selecione</option>
                  <option *ngFor="let perfil of perfis" [value]="perfil?.id">{{perfil.descricao}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Status</label>
                <select formControlName="status" class="form-control">
                  <option value="" disabled>Selecione</option>
                  <option value="true">Ativo</option>
                  <option value="false">Inativo</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Imagem do Perfil</label>
                <br>
                <div class="fileUpload btn btn-primary">
                  <span>Selecionar Imagem</span>
                  <input type="file" class="upload" id="imagem" name="imagem" (change)="carregarImagem($event)">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nova Senha</label>
                <input formControlName="password" type="password" class="form-control" placeholder="******">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Confirmar Nova Senha</label>
                <input formControlName="confimarSenha" type="password" class="form-control" placeholder="******">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button [disabled]="formularioUsuario.invalid" type="submit"
                class="btn btn-primary btn-round">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
